.introduceSection {
    background-image: url('../public/images/clement.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}


/* Acima colocamos a imagem e depois colcoamos uma caixa com position absolute e com cor preto com opacidade. */

.button-style-default {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 35%;
    background-color: #da1c4b;
    border-radius: 30px;
    transition: all .3s ease
}

.button-style-default a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button-style-default:hover {
    background-color: #bf143f;
}

.logo {
    margin-left: 50px;
}

.imgLogo {
    height: 50px;
}

.linksnavbarMenu {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    font-size: 15px;
}

.linksnavbarMenu:visited {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    font-size: 15px;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 24%;
}

.thin-bar {
    height: 2px;
    width: 15%;
    background-color: #FB2056;
    margin-top: 15px;
}

.box1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content1 h1,
.content1 h3 {
    color: white;
    margin-top: 15px;
}

.button-box1-content {
    margin-top: 40px;
}

.clientSection {
    background-color: #F5F5F5;
}

.citacoes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.citacoes p {
    font-size: 20px;
    margin-top: 10px;
}

.desarrolos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientesdesarrolados {
    margin-top: 20px;
}

.itemclientdesarrolado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itemclientdesarrolado img {
    height: 50%;
    width: 50%;
    box-shadow: 5px 5px 5px rgb(134, 129, 129);
}

.itemclientdesarrolado img,
.itemclientdesarrolado p,
.itemclientdesarrolado div {
    margin-top: 8px;
}

.finalsection {
    background-image: url('../public/images/section-bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70vh;
    color: white;
}

.button-content1finalsection {
    width: 20%;
}

.footerMainPage {
    background-color: #191919;
    color: #FFFFDA;
}

.footerMainPage p {
    padding-top: 8px;
}

.sobreSection {
    background-image: url('../public/images/bg-sobre01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70vh;
}

.content1sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25%;
}

.content1sobre h1 {
    color: white;
    font-size: 65px;
    font-weight: 700;
}

.mission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobrenote {
    width: 100%;
    height: 50vh;
    box-shadow: 5px 5px 5px rgb(134, 129, 129);
}